<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-www" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>CDVLocalWWW</name>
    <js-module name="CDVLocalWWW" src="www/www.js">
        <clobbers target="CDVLocalWWW" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <access origin='*' />
            <content src="ionic://localhost/www/index.html" />
            <feature name="CDVLocalWWW">
                <param name="ios-package" value="CDVLocalWWW" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>
        <config-file target="*-Info.plist" parent="Appearance">
            <string>Light</string>
        </config-file>
        <header-file src="src/ios/CDVLocalWWW.h" />
        <source-file src="src/ios/CDVLocalWWW.m" />
        <resource-file src="src/www.zip" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="MBProgressHUD" />
            </pods>
        </podspec>
    </platform>
    <dependency id="cordova-plugin-file" version="7.0.0" />
    <dependency id="cordova-plugin-zip" version="3.1.0" />
</plugin>
